.section-container {
    .section-header-container .left {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        
        .fee-items-container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-top: 10px;

            div:first-child {
                margin-right: 3px;
            }
        }
    }

    .section-header-container-2 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        
        margin-top: 10px;
        > :not(:last-child) {
            margin-right: 10px;
        }

        // text input
        > :nth-child(2) {
            width: 250px;
        }

        h4 {
            margin: 0;
        }

        .react-datepicker-wrapper > div > input {
            margin: 0;
            max-width: 100%;
            flex: 1 0 auto;
            outline: 0;
            -webkit-tap-highlight-color: rgba(255,255,255,0);
            text-align: left;
            line-height: 1.21428571em;
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            padding: .67857143em 1em;
            background: #fff;
            border: 1px solid rgba(34,36,38,.15);
            color: rgba(0,0,0,.87);
            border-radius: .28571429rem;
            transition: box-shadow .1s ease,border-color .1s ease;
            box-shadow: none;

            &::placeholder {
                color: rgba(0,0,0,.37);
            }
        }
    }
}