// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';
@import "~react-datepicker/dist/react-datepicker.css";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    padding: 0;
    margin: 0;
}
.main-container {
    .react-parallax-content {
        height: 100%;
    }

    div.ui.borderless.menu {
        background-color: rgba($color: #fff, $alpha: 0.97);
        margin:0;
    }
    
    
    .section-container {
        margin-top: 20px;
        padding: 20px;
    
        background-color: rgba($color: #fff, $alpha: 0.90);
        min-width: 800px;
        border-radius: 5px;
        
        .section-header-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            
            // <Header/> semantic-ui component
            div {
                margin: 0;
            }
        }
        
        .section-content-container {
            display: flex;
            flex-flow: column nowrap;
            // align-items: flex-start;
            
            .profile-cards-container {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                > div:first-child {
                    margin-right: 20px;
                }
                > div:nth-child(2) {
                    margin: 0;
                }
            }
        }
    }

    .loginRegister-container {
        margin-top: 20px;
        padding: 50px 50px 30px 50px;
    
        background-color: rgba($color: #fff, $alpha: 0.90);
        min-width: 400px;
        border-radius: 10px; 
    }
}
