.label-container {
    margin-left: 50px;
    margin-bottom: 13px;
    display: flex;
    flex-flow: row wrap;

    // label key
    p:nth-child(1) {
        font-weight: bold;
        margin: 0;
        margin-right: 40px;
    }
    // label value
    p:nth-child(2) {
        
    }
}